<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
    
    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }
      
  </style>
   

  <ion-header>
    
    <ion-toolbar>
      <ion-item>
        <font size="2" color="Gray">Telusuri Surat</font>
        <ion-avatar slot="end">
          <img src="/assets/avatar/pevita.jpg" routerLink="/profile-guru">
        </ion-avatar>
      </ion-item>
      <ion-segment value="terkirim">
        <ion-segment-button style="font-size: 9px" value="dashboard" routerLink="/dashboard-guru">Dashboard</ion-segment-button>
        <ion-segment-button style="font-size: 9px" value="tugas" routerLink="/tugas-guru">Tugas</ion-segment-button>
        <ion-segment-button style="font-size: 9px" value="surat masuk" routerLink="/suratmasuk-guru">Surat Masuk</ion-segment-button>
        <ion-segment-button style="font-size: 9px" value="terkirim" routerLink="/suratterkirim-guru">Terkirim</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    
  </ion-header>

  <ion-content fullscreen>

    <ion-list> 
      <ion-item  button *ngFor = "let data of surat_terkirim">
        <ion-label>{{data.penerima}}
          <p><font size="2" color="Black">{{data.sumber}}</font></p>
          <p><font size="2" color="gray">{{data.perihal}}</font></p><br>
          <p><font size="2" color="Black">{{data.kategori}}</font></p>
      </ion-label>
        <ion-label align="right"><font size="2" color="gray">{{data.tanggal}}</font></ion-label>
      </ion-item>
    </ion-list>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button>
        <ion-icon name="duplicate-sharp" routerLink="/tambahsurat-guru"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>