<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
    
    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }

    .btn-rounded {
    width: 300px;
    height: 140px;
    margin-top: 2.5em;
    margin-left: 2.5em;
    background-color: rgb(184, 190, 192);
}

.btn-round {
    margin-top: 1em;
    margin-left: 2.5em;
    margin-right: 4.5em;
    background-color: rgb(184, 190, 192);
}

.bingkai{
     
     border-radius: 6px !important;
     font-size: 0.9em;
     border: 2px solid #000000 !important;
     --background: rgb(255, 255, 255) !important;

     max-width: 100vw; 
     max-height: 10vh;

    margin-top: 2.5em;
    margin-left: 2.5em;
 }
  </style>
  
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/dashboard-kepsek">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen *ngIf="dataSurat != undefined">
    <ion-list>
      <ion-list-header>
        <ion-label ><font size="2" color="gray"> Surat Masuk Internal </font></ion-label>
        <ion-label align="center"><font size="2" color="gray" style="padding-right: 10px;"> {{date | date:'dd MMMM yyy'}}</font></ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>
          <h2>Asal</h2>
        </ion-label>
        <ion-label>
          <h2>: {{dataSurat.asal}}</h2>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>No.Surat</h2>
        </ion-label>
        <ion-label>
          <h2>: {{dataSurat.no_surat}}</h2>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Perihal</h2>
        </ion-label>
        <ion-label>
          <h2>: {{dataSurat.perihal}}</h2>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Kategori Surat</h2>
        </ion-label>
        <ion-label>
          <h2>: {{dataSurat.kategori}}</h2>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Tanggal</h2>
        </ion-label>
        <ion-label>
          <h2>: {{date | date:'dd MMMM yyy'}}</h2>
        </ion-label>
      </ion-item>
      </ion-list>

     <input type="file" name="inputFile"  required class="btn-rounded">
      
        <ion-item color="primary" class="btn-round">
          <ion-buttons slot="start">
            <ion-button >
              <ion-icon name="document-sharp"></ion-icon>
          </ion-button>
          </ion-buttons>
          
          <ion-buttons slot="end">
            <ion-button>
          <ion-icon name="cloud-download-sharp"></ion-icon>
          </ion-button>
          </ion-buttons>
        </ion-item>
      

      <ion-button  color="light" class="bingkai"> 
        <ion-icon name="chatbubble-ellipses-sharp" slot="start">
        </ion-icon> Respon </ion-button>
      <ion-button  color="light" class="bingkai" routerLink="/terusan-kepsek">Teruskan 
        <ion-icon name="arrow-redo" slot="end"></ion-icon></ion-button>
</ion-content>
</ion-app>