<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
<style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
      section {
        margin-top: 1em;
        margin-bottom: 2.5em;
    }
    
   .bingkai{
     
            border-radius: 10px !important;
            font-size: 0.9em;
            border: 2px solid #2a49fc !important;
            --background: rgb(255, 255, 255) !important;

            max-width: 100vw; 
            max-height: 10vh;
        }
  </style>
 
  
  <ion-content>
    <div style="padding-top: 175px;">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
         
        </ion-col>
      </ion-row>
     
</div>
    <ion-title align="center"><font size="6">SI<span style="color:blue;font-weight:bold">PANSE</span></font></ion-title>
    <p align="center"><font size="2,5" style="font-weight: bold;">Sistem Informasi Persuratan Sekolah</font></p>
    <br>
    <div class="ion-padding" >
      <ion-input  class="bingkai" [(ngModel)]="email" position="floating" placeholder="Email Pengguna"  type="text"></ion-input>
      <br>
      <ion-input class="bingkai" [(ngModel)]="password"  position="floating" placeholder="Kata Sandi"  type="password"></ion-input>
      <br>
      <ion-button color="tertiary" expand="full" (click)="masuk()">Masuk</ion-button>
      </div>
</ion-content>

  

</ion-app>