<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
    
    ion-col > div {
      background-color: #fffdfd;
      border: solid 1px #ddd;
      padding: 10px;
    }

  </style>
   

  <ion-header>
    
    <ion-toolbar>
     <ion-item>
      <font size="2" color="Gray">Hai, Kepala Sekolah</font>
        <ion-avatar slot="end">
          <img src="/assets/avatar/download.png" routerLink="/profile-kepsek">
        </ion-avatar>
      </ion-item>
    </ion-toolbar>
      <ion-slides>
        <ion-slide>
          <ion-segment value="dashboard">
            <ion-segment-button style="font-size: 9px" value="dashboard" routerLink="/dashboard-kepsek">Dashboard</ion-segment-button>
            <ion-segment-button style="font-size: 9px" value="tugas" routerLink="/tugas-kepsek">Tugas</ion-segment-button>
            <ion-segment-button style="font-size: 9px" value="surat masuk" routerLink="/suratmasuk-kepsek">Surat Masuk</ion-segment-button>
            <ion-segment-button style="font-size: 9px" value="terkirim" routerLink="/suratterkirim-kepsek">Terkirim</ion-segment-button>
          </ion-segment>
        </ion-slide>
    </ion-slides>
  
  </ion-header>

  <ion-content>
    <ion-card>
    <ion-grid>
      <ion-row >
        <ion-col>
          <div style="font-size: 10px; border-style: hidden;"> 
            <center><ion-icon name="reader-outline"></ion-icon>       Surat Tugas</center>
            <center><h6>0</h6></center>
          </div>
        </ion-col>
        <ion-col>
          <div style="font-size: 10px; border-style: hidden;">
              <center> <ion-icon name="file-tray-outline"></ion-icon>   Surat Masuk</center>
            <center><h6>{{dataSuratMasuk.length}}</h6></center>
          </div>
        </ion-col>
        <ion-col>
          <div style="font-size: 10px; border-style: hidden;">
              <center><ion-icon name="send-outline"></ion-icon>        Surat Terkirim</center>
            <center><h6>{{dataSuratTerkirim.length}}</h6></center>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
    <ion-card>
     
      <!-- <ion-card-header> -->
        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        <!-- <ion-card-title>Madison, WI</ion-card-title> -->
      <!-- </ion-card-header> -->
      <ion-card-content>
       <img src="/assets/chart/chart.png">
      </ion-card-content>
    </ion-card>

    <ion-card> 
      <ion-item>
      <ion-card-header>
        <ion-card-title>Status Surat</ion-card-title>
      </ion-card-header>
    </ion-item>
      <ion-card-content>
        <ion-label ><font color="Black"> Tata Usaha</font></ion-label>
        <p><ion-label ><font color="Black"> Dinas Kesehatan DIY</font></ion-label></p>
        <p><ion-label ><font color="Black"> Undangan Sosialisasi COVID-19</font></ion-label></p><br>
        <ion-label ><font  color="black"> Kirim Surat </font></ion-label>
        <ion-label align="right"><font  color="black"> 01 Nov</font></ion-label>
       
        <ion-fab horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button>
            <ion-icon name="duplicate-sharp" routerLink="/tambahsurat-tu"></ion-icon>
          </ion-fab-button>
        </ion-fab>

      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>