<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
    
    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }

  </style>
  
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button >
          <ion-label> Teruskan Pesan</ion-label>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="detail(data)">
          Kembali
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>

    <div style="padding-top: 50px;">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
        </ion-col>
      </ion-row>
     
      <ion-item>
        <ion-label>Arahan</ion-label>
        <ion-select interface="popover" [(ngModel)]="data.kategori">
          <ion-select-option value="Mohon Keputusan">Mohon Keputusan</ion-select-option>
          <ion-select-option value="Mohon Saran">Mohon Saran</ion-select-option>
          <ion-select-option value="Mohon Petunjuk">Mohon Petunjuk</ion-select-option>
        </ion-select>
      </ion-item>

    </div>

    <div style="padding-top: 50px;">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label>Pilih Penerima</ion-label>
        <ion-select interface="popover" [(ngModel)]="data.penerima">
          <ion-select-option value="Guru">Guru</ion-select-option>
          <ion-select-option value="Staff">Staff</ion-select-option>
          <ion-select-option value="Kepala Sekolah">Kepala Sekolah</ion-select-option> 
        </ion-select>
      </ion-item>

</div>

<div style="padding-top: 50px;">
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
    </ion-col>
  </ion-row>
 
<ion-item>
  <ion-label position="stacked"> Wajib Diisi</ion-label>
  <ion-input placeholder="uraian" [(ngModel)]="data.tambahan"></ion-input>
</ion-item>

</div>

<ion-button  color="light" class="bingkai" routerLink="/suratterkirim-tu" (click)="tambahdata()"> Kirim </ion-button>

  </ion-content>
</ion-app>