<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
    
    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }

  </style>
  
  <ion-header>
    
    <ion-toolbar>
      <ion-item>
        <font size="2" color="Gray">Telusuri Surat</font>
        <ion-avatar slot="end">
          <img src="/assets/avatar/maudy.jpg" routerLink="/profile-tu">
        </ion-avatar>
      </ion-item>
      <ion-slides>
        <ion-slide>
      <ion-segment value="tugas">
        <ion-segment-button style="font-size: 8px" value="dashboard" routerLink="/dashboard-tu">Dashboard</ion-segment-button>
        <ion-segment-button style="font-size: 9px" value="tugas" routerLink="/tugas-tu">Tugas</ion-segment-button>
        <ion-segment-button style="font-size: 9px" value="surat masuk" routerLink="/suratmasuk-tu">Surat Masuk</ion-segment-button>
        <ion-segment-button style="font-size: 9px" value="terkirim" routerLink="/suratterkirim-tu">Terkirim</ion-segment-button>
      </ion-segment>
    </ion-slide>
  </ion-slides>
    </ion-toolbar>
    
  </ion-header>
  
  <ion-content>

  </ion-content>
</ion-app>
