<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
<style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
    .btn-rounded {
    width: 200px;
    height: 150px;
    margin-top: 3.5em;
    margin-left: 0.5em;
    background-color: lightblue;
}
    

  </style>
  

    
  
      <ion-header translucent>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button routerLink="/dashboard-guru">
              <ion-icon name="arrow-back-sharp"></ion-icon>
            </ion-button>
          </ion-buttons>
    
          <ion-buttons slot="end" (click)="tambah()">
            <ion-button routerLink="/suratterkirim-guru">
              <ion-icon name="send-sharp"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content fullscreen>
        <ion-list>
          <ion-list-header>
            <ion-label ><font size="2" color="gray"> Kirim Surat </font></ion-label>
            <ion-label align="center"><font size="2" color="gray"> 01 Nov</font></ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label position="fixed">Sumber</ion-label><ion-label>:</ion-label>
            <ion-select [(ngModel)]="data.sumber" interface="popover">
              <ion-select-option value="Internal" type="text">Internal</ion-select-option>
              <ion-select-option value="Ekternal">Eksternal</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item>
            <ion-label position="fixed">Asal</ion-label><ion-label>:</ion-label>
            <ion-input  [(ngModel)]="data.asal" placeholder="" ></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="fixed">Penerima</ion-label><ion-label>:</ion-label>
            <ion-select  [(ngModel)]="data.penerima" interface="popover">
              <ion-select-option value="Guru" >Guru</ion-select-option>
              <ion-select-option value="Tata Usaha">Tata Usaha</ion-select-option>
              <ion-select-option value="Kepala Sekolah">Kepala Sekolah</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="fixed">No.Surat</ion-label><ion-label>:</ion-label>
            <ion-input [(ngModel)]="data.no_surat" placeholder=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="fixed">Perihal</ion-label><ion-label>:</ion-label>
            <ion-input [(ngModel)]="data.perihal" placeholder=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="fixed">Kategori</ion-label><ion-label>:</ion-label>
            <ion-input  [(ngModel)]="data.kategori" placeholder=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="fixed">Tanggal</ion-label><ion-label>:</ion-label>
            <ion-input [(ngModel)]="data.tanggal" type="date" placeholder=""></ion-input>
          </ion-item>

        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <ion-card class="btn-rounded">
              <input type="file"  name="inputFile" (change)="chooseFile($event)" required class="btn-rounded">
            </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
</ion-app>