<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
    
    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }

  </style>
   

  <ion-header>
    
    <ion-toolbar>
      <ion-item>
        <ion-avatar slot="end">
          <img src="/assets/avatar/pevita.jpg" routerLink="/profile-guru" >
        </ion-avatar>
      </ion-item>
      <ion-segment value="surat masuk">
        <ion-segment-button style="font-size: 9px" value="dashboard" routerLink="/dashboard-guru">Dashboard</ion-segment-button>
        <ion-segment-button style="font-size: 9px" value="tugas" routerLink="/tugas-guru">Tugas</ion-segment-button>
        <ion-segment-button style="font-size: 9px" value="surat masuk" routerLink="/suratmasuk-guru">Surat Masuk</ion-segment-button>
        <ion-segment-button style="font-size: 9px" value="terkirim" routerLink="/suratterkirim-guru">Terkirim</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    
  </ion-header>

  <ion-content>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button>
        <ion-icon name="duplicate-sharp" routerLink="/tambahsurat-guru"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>