<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
    
    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }

    .img-rounded {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
  </style>
   

   <ion-app>
    <ion-header translucent><ion-item>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button routerLink="/dashboard-tu">
            <ion-icon name="arrow-back-sharp"></ion-icon> 
          </ion-button>
            <font size="3" color="gray">Profil</font>
        </ion-buttons>
        </ion-toolbar>
    </ion-item>
  </ion-header>

  <ion-content fullscreen>

    <div style="padding-top: 20px;">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <img class="img-rounded" src="/assets/avatar/maudy.jpg">
        </ion-col>
      </ion-row> 
    </div>

    <ion-list>
      <ion-item>
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon name="person-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button routerLink="/dashboard-tu">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label>
          <h2><font size="2" color="gray">Nama</font></h2>
          <p><font size="3" color="Black">Maudy Ayunda</font></p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon name="school-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button routerLink="/dashboard-tu">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label>
          <h2><font size="2" color="gray">Status</font></h2>
          <p><font size="3" color="Black">Tata Usaha</font></p>
        </ion-label>
      </ion-item>


      <ion-item>
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon name="exit-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-label>
          <ion-buttons>
            <ion-button routerLink="/login">
              <p><font size="3" color="Black">Keluar</font></p>
              </ion-button>
              </ion-buttons>
        </ion-label>
      </ion-item>
    </ion-list>

      <div style="padding-bottom: 20px;">
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
          </ion-col>
        </ion-row> 
  </div>
      <ion-title align="center"><font size="5">SI<span style="color:blue;font-weight:bold">PANSE</span></font></ion-title>
      <p align="center"><font size="2,5" style="font-weight: bold;">Sistem Informasi Persuratan Sekolah</font></p>
  </ion-content>
</ion-app>
